LOG_LEVEL="INFO"

# nsec of the bot
NOSTR_NSEC=nsec15wmnjjucmye4z06qnjcmpgerh9506nllc9ukjgz62gndrjwnxmjsykl0sv

# npub of the user to tag in daily announcement note
ANNOUNCEMENT_TAG=npub1uk89ngqynlzpz5ncqczkeqvkzqfv577pstrywneqvy50zfa5gusqcjek0p

# nostr relays
NOSTR_RELAYS="wss://relay.damus.io,wss://relay.primal.net,wss://ftp.halifax.rwth-aachen.de/nostr,wss://nostr.mom,wss://relay.mostr.pub,wss://relay.momostr.pink,wss://nos.lol,wss://nostr.einundzwanzig.space,wss://relay.snort.social,wss://nostr.land,wss://nostr.oxtr.dev,wss://nostr.bitcoiner.social,wss://nostr-pub.wellorder.net,wss://nostr.vulpem.com,wss://offchain.pub,wss://relay.nostr.net"

# 3 days
STATUS_EVENT_INTERVAL_SEC=43200

# bot profile
PROFILE_NAME="Tracking Token Disrespector"
PROFILE_BIO="Tracking token remover bot. Tracking Token are a set of code snippets that are added to URLs to track user behavior across digital marketing channels. To remove tracking tokens from URLs, copy the URL, paste it into a text editor, and delete everything after the '?' or '&' symbol."
PROFILE_PICTURE="https://pfp.nostr.build/7a203908568c99f62ae51cdef8def2ff363c61e274d2e75b5fcf48d7c5a5337b.jpg"
PROFILE_NIP05="trackingtokenbot@f321x.com"
PROFILE_LNADDRESS="trackingtokenbot@lnaddress.com"
PROFILE_WEBSITE="https://github.com/f321x/nostr-tracking-token-remover"